<div class= "about-page text-center container"> 
    <h1> About</h1>
    <p>We are a landscaping business where our focus is providing
    excellent services to customers Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur assumenda dolore minus corrupti mollitia dolor omnis perferendis ab consequatur dolorem! Blanditiis, quasi quod ipsam dignissimos aliquid. Facilis, unde sunt veniam?</p>
<di>